<!DOCTYPE html>
<html>
  <head>
    <title>
      TicTacToe
    </title>
  </head>
  <body>
    <h1>Welcome to Tic Tac Toe!</h1>
    <form action="/" method="POST">
      <table>
        <% 3.times do |i| %>
        <tr>
          <% 3.times do |j| %>
            <% index = i*3+j %>
            <td><input type="text" name="<%= index %>" value="<%= @game.board[index] %>" /></td>
          <% end %>
        </tr>
        <% end %>

        <!--<% index = 4 %>-->
        <!--<tr><td><input type="text" name="5" value="<%= @game.board[index] %>" /></td>-->
        <!--<td><input type="text" name="<%= index %>" value="<%= @game.board[index] %>" /></td></tr>-->
        <!--<tr>-->
        <!--  <td><input type="text" name="0" value="<%= @game.board[0] %>" readonly=false /></td>-->
        <!--  <td><input type="text" name="1" value="<%= @game.board[1] %>" readonly=false /></td>-->
        <!--  <td><input type="text" name="2" value="<%= @game.board[2] %>" readonly=false /></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--  <td><input type="text" name="3" value="<%= @game.board[3] %>" readonly=false /></td>-->
          
        <!--  <td><input type="text" name="4" value="<%= @game.board[4] %>" readonly=false /></td>-->
        <!--  <td><input type="text" name="5" value="<%= @game.board[5] %>" readonly=false /></td>-->
        <!--  </tr>-->
        <!--  <tr>-->
        <!--  <td><input type="text" name="6" value="<%= @game.board[6] %>" readonly=false /></td>-->
        <!--  <td><input type="text" name="7" value="<%= @game.board[7] %>" readonly=false /></td>-->
        <!--  <td><input type="text" name="8" value="<%= @game.board[8] %>" readonly=false /></td>-->
        <!--  </tr>-->
       </table>
    
    <input type="submit" value="Submit Move" id="submit" />
  </form>
  </body>
</html>