<h1>Welcome to Tic Tac Toe!</h1>
<!-- <h1><span class="path">~/tic-tac-toe</span> <span class="prompt">// <span class="heart">♥</span></span><span class="command"> ./bin/tictactoe</span></h1> -->

<form action="/" method="POST">
  <table>
    <tr>
      <td>
        <input type="text" name="0" value="<%= @game.position(0) %>" <%= "readonly" if @game.position_taken?(0) %>>
      </td>
      <td>
        <input type="text" name="1" value="<%= @game.position(1) %>" <%= "readonly" if @game.position_taken?(1) %>>
      </td>
      <td>
        <input type="text" name="2" value="<%= @game.position(2) %>" <%= "readonly" if @game.position_taken?(2) %>>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="3" value="<%= @game.position(3) %>" <%= "readonly" if @game.position_taken?(3) %>>
      </td>
      <td>
        <input type="text" name="4" value="<%= @game.position(4) %>" <%= "readonly" if @game.position_taken?(4) %>>
      </td>
      <td>
        <input type="text" name="5" value="<%= @game.position(5) %>" <%= "readonly" if @game.position_taken?(5) %>>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="6" value="<%= @game.position(6) %>" <%= "readonly" if @game.position_taken?(6) %>>
      </td>
      <td>
        <input type="text" name="7" value="<%= @game.position(7) %>" <%= "readonly" if @game.position_taken?(7) %>>
      </td>
      <td>
        <input type="text" name="8" value="<%= @game.position(8) %>" <%= "readonly" if @game.position_taken?(8) %>>
      </td>
    </tr>
  </table>

  <p><input type="submit" value="Submit Move" id="submit" /></p>
</form>
